*{
    margin: 0;
    padding: 0;
    font-family: "cairo", sans-serif;
}
body {
    background-color:#eaeeed;
}

/*--------------- start navbar ---------------*/
.navbar {
    background-color: #eaeeed;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1000;
}
.navbar.scrolled {
    background-color: #7c9d97c3;
    box-shadow: 0 4px 8px rgba(92, 116, 112, 0.414);
}
.navbar-brand img {
    width: 180px;
}
.navbar-nav a:hover {
    color: #125b3a;
}

.main_form{
    display: flex;
    width: 550px;
}
.main_form input {
    width: 100%;
    height: 60px;
    background-color: #9cd6cd0d;
    font-size: 15px;
}

/* تنسيق العناصر داخل النافبار */
.navbar-nav {
    justify-content: space-evenly; /* توزيع متساوي بين العناصر */
    width: 100%;
}

/* ظهور زر "تلت خطوط" عند تصغير الشاشة */
@media (max-width: 1200px) {
    .navbar-nav {
        text-align: start;
        padding-right: 10px;
    }
    .navbar-nav.show {
        display: block;
    }
    .navbar-toggler {
        display: block;
    }
    .main_form{
        display: flex;
        width: 100%;
    }
}
@media (max-width: 992px){
    .collapse ul li:not(:last-child) {
        border-bottom: 1px solid #37615b;
    }
}

.nav-link {
    font-size: larger;
}
.btt {
    background-color: #9CD6CD;
    border-radius: 8px;
    border: none;
    min-width: 60px;
    height: 60px;
}
.btt:hover {
    background-color: #85aca6;
    border: 1px solid #125b3a;
    transition: 0.5s;
}
/*--------------- End navbar ---------------*/



/*--------------- Start button ---------------*/
.intre {
    display: flex;
    gap: 10px; 
    margin-top: 70px;
    margin-left: 60px;
    margin-bottom: 15px;
}
.intre .btn{
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 25px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    direction: left;
    transition: 0.3s;
    background-color: rgba(22, 99, 87, 1);
    color: white;
    border: 2px solid rgba(22, 99, 87, 1);
    margin-top: 10px;
}
.intre .profile{
    position: absolute;
    right: 60px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(22, 99, 87, 1);
    color: white;
    border: 2px solid rgba(22, 99, 87, 1);
    margin-top: 10px;
    text-decoration: none;
}
.intre .btn-success:hover, .intre .profile:hover{
    background-color: white;
    color: rgba(22, 99, 87, 1);
    border: 2px solid rgba(22, 99, 87, 1);
}

@media (max-width: 750px){
    .intre .profile {
        position: static;
        margin-left: 60px;
    }
    .intre {
        margin-left: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .intre .btn, .intre .profile {
        width: 100%;
        text-align: center;
        margin-left: auto;
    }
}
/*--------------- End button ---------------*/


.background{
    background-image: url(../images/treatment.jpg   );
    position: relative;
    height: 490px;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 50px;
    opacity: 0.9;

}
.color{
    backdrop-filter: blur(2px); 
    background-color: rgba(132, 223, 209, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.paragraph{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.photo_tiitle {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%, 50%);
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: 2px;
    z-index: 5;

}
.search{
    position: absolute;
    right: 50%;
    bottom: 100px;
    height: 60px;
    width: 40%;
    padding: 20px;
    border-radius: 12px;
    border: none;
    z-index: 5;
    transform: translate(50%, 0%);
    direction: rtl;
}
.button{
    position: absolute;
    bottom: 100px;
    left: 30%;
    height: 60px;
    z-index: 8;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgba(22, 99, 87, 1);
    color: white;
}

@media (max-width: 1000px) {
    .photo_tiitle {
        font-size: 40px;
        width: 100%;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: center;
    }

    .search {
        position:   absolute;
        bottom:     0px;
        width:      100%;
        min-width:  200px;
        transform:  translate(50%, 50%);
        font-size:  15px;
    }
    .button{
        position:   absolute;
        bottom:     0px;
        left:       0%;
        transform:  translate(0%, 50%);
    }

}


  /* نهااايه الناف بار عشان لو هتتعدل بعد كده ممنوع اللعب ف الاكواد  */


.text2{  
    display:flex;
    padding-top: 30px;
    font-size: 20px; 
    margin-right: 50px;
    color:rgb(11, 11, 11) ;
    font-weight: bolder;
    direction: rtl;
}


.text3{
    display:flex;
    font-size: 20px; 
    margin-right: 50px;
    color:rgb(11, 11, 11) ;
    font-weight: bolder;
    direction: rtl;
}

.all-table{
    display: flex;
    justify-content: center;
}
.custom-table { 
    direction: rtl;
    /* position: absolute; */
    width:60%;
    border-collapse: collapse;
    text-align: center;
    /* top: 800px; */
    justify-content: center;
    min-height: 800px;
}

.custom-table th, .custom-table td {
    border: 1px solid #ccc;
    padding: 10px;
    color: #1c7e5f;
    font-weight: bolder;
    /* font-size: 20px; */
    font-size: 25px;
}

.custom-table thead {
    background-color: #ebf3f1;
    color: rgb(18, 96, 61);
    font-size: 30px;
    font-weight:300px;

}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    color: #1c7e5f;
    font-size: 20px;
}

.custom-table tbody tr:hover {
    background-color: #d4ece6;
}


/* عندما تكون الشاشة أقل من 750px، نجعل العرض أصغر */
@media (max-width: 1000px)  {
.custom-table {
    width: 100%; /* يقل العرض مع حجم الشاشة */
    max-width: 90%; /* يمنع تجاوز العنصر حدود الشاشة */
}
}
/* تصغير الطول تلقائيًا عند الشاشات الصغيرة */


.alltable{
    display: block;
}

/* Responsive Design */

@media (max-width:675px ){

}
@media (max-width:675px ){
.all-table{
    width: 100%;
}
}


   /* --------------- Start footer ---------------  */
footer {
    background: rgba(22, 99, 87, 1);
    background-image: url(../images/Vector8.svg), url(../images/Vector9.svg);
    background-size:cover;
    background-position:1508px 185px  64px 80.43px , 561px 119px 418px 1016px,969px 119px 51.16px;
    color: white;
    padding: 20px;
    direction: ltr;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}



.social-info {
    text-align: right;
    margin-right: 20px;
}



.social-info p {
    margin-top: 120px;
}

.social-icons{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    padding: 10px;
}


.social-icons a {
    color:rgba(255, 255, 255, 1);
    font-size: 30px;
    text-decoration: none;
    display: flex;
}


.social-icons a:hover {
    color:#6096dd;
    transition: 0.3s;
}